:javascript
  $(function(){
    $(".pdf_link").on('click',function(){
      var msg;
      $("#pdf").className = "embedded";  //Style the DIV

        var pObj = new PDFObject({ 

        url: $(this).attr('href'),
        id: "myPDF",

        pdfOpenParams: {
          navpanes: 0,
          toolbar: 0,
          statusbar: 0,
          view: "FitV"
        }
      });
      
      var htmlObj = pObj.embed("pdf");	//Returns a reference to the HTML <object> or null if unsuccessful
      $.fancybox.open({
          href: '#pdf',
          autoSize: true,
          scrolling: 'no'
        });
      return false;
    });

  });


-@permits.each do |permit|
  .permit
    .row
      %span.label
        Date: 
      =permit.rec_date.strftime("%m/%d/%Y")
      %span.label
        Doc ID: 
      =permit.document_id
      %span.label
        Type: 
      =permit.type.gsub(/&amp;nbsp/,'')
      %span.label
        Status:
      =permit.status
      %span.label
        %a{:href => permit.pdf_url, :class=> 'pdf_link', :target => :blank}
          View PDF
    .row
      %span.label
        Grantor: 
      =permit.grantor.gsub(/&amp;nbsp/,'')
    .row
      %span.label
        Grantee: 
      =permit.grantee.gsub(/&amp;nbsp/,'')
    .row
      %span.label
        Legal: 
      =permit.legal.gsub(/&amp;nbsp/,'')

#pdf