-@permits.each do |permit|
  .permit
    .row
      %span.label
        Date: 
      =permit.rec_date.strftime("%m/%d/%Y")
      %span.label
        Doc ID: 
      =permit.document_id
      %span.label
        Type: 
      =permit.type.gsub(/&amp;nbsp/,'')
      %span.label
        Status:
      =permit.status
      %span.label
        %a{:href => permit.pdf_url, :target => :blank}
          View PDF
    .row
      %span.label
        Grantor: 
      =permit.grantor.gsub(/&amp;nbsp/,'')
    .row
      %span.label
        Grantee: 
      =permit.grantee.gsub(/&amp;nbsp/,'')
    .row
      %span.label
        Legal: 
      =permit.legal.gsub(/&amp;nbsp/,'')
